[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "scripts"]
	path = scripts
	url = https://gitee.com/sierxue/scripts.git
[submodule "vim/UltiSnips"]
	path = vim/UltiSnips
	url = https://gitee.com/sierxue/UltiSnips.git
